
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
a{
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color:#F76C6C;
}
nav{
  height: 50px;
  background-color: #F76C6C;
}

nav ul li{
  margin-left: 100px;
  display:inline-block;
  text-align: center;
  padding:10px 10px;

  font: 12px;
  color: black;
}
nav ul li a{
  font-size: 20px;
  letter-spacing: 2px;
  color: white;

}
nav ul li a:hover{
  transition: transform .2s;
    transform: scale(1.1);
     color: brown;

}


.topnav a {
  
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: skyblue;
  color: black;


}


#hh{
      transition: transform .2s;
    }
    #hh:hover{
       transform: scale(1.1);
       color: red;

    }

/* footer csss*/
